
<div class="container">
<h1>Todos os Livros</h1>

<div class="home-content" fxLayout="row" fxLayoutAlign="start center" style="padding: 2%">
  <ng-container style="margin: 0.5%;" *ngFor="let livro of listaLivros.livros">

    <mat-card class="example-card"
      fxFlex="0 1 calc(33.3% - 11px)"
      fxFlex.lt-md="0 1 calc(50% - 11px)"
      fxFlex.lt-md="100%"
      (click)="detalhe(livro)">
      <img mat-card-image src="https://images-na.ssl-images-amazon.com/images/I/517KvLLwZXL._SX372_BO1,204,203,200_.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-card-title>{{ livro.titulo }}</mat-card-title>
        <mat-card-subtitle>{{ livro.autor }}</mat-card-subtitle>
      </mat-card-content>
    </mat-card>
    <br>
    <br><br>
  </ng-container>
</div>
</div>


  