mat-grid-tile {
    background: goldenrod;
  }

.card {
  margin-top: -300px;
  width: 300px;
  height: 300px;
}

.container{
  background: goldenrod;
}

.esq {
  margin-top: -200px;
}

.esq-interno {
  margin-top: -400px;
  margin-left: -200px;
}