
.container {
  background: goldenrod;
  height: 100%;
  width: 100%;
  margin: 0;
  position: absolute;
  top: 60%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.example-form {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.example-full-width{
  width: 500px; 

}

.titulo-full-width {
  width: 500px; 
  background-color: white; 
  border-radius: 20px;  
}


.autor-full-width {
  width: 500px;
  background-color: white; 
  border-radius: 20px;  
}


.url-full-width {
  width: 500px;  
  background-color: white; 
  border-radius: 20px;  
}


.ano-full-width {
  width: 500px;  
  background-color: white; 
  border-radius: 20px;  
}


.sinopse-full-width {
  width: 1000px;  
  height: 200px;
  background-color: white; 
  border-radius: 20px;  
}


.example-button-row {
  padding: 0 14px;
  color: black;
  border:solid 1px black;
  border-radius: 20px;

}